.header {
  width: 100%;
  height: 50px;
  background-color: #e0e0e0;
}

.headertext {
  font-size: larger;
  font-weight: 600;
  text-align: center;
  padding-top: 16px;
}

.wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main {
  width: 100%;
  height: 350px;
  background-color: #fff8e3;
  font-size: larger;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}

.maintext {
  display: grid;
  width: 100%;
  height: 350px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px 40px;
  gap: 30px;
  grid-template-areas:
    "a a"
    "b c"
    "d d";
}

.maintext2 {
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-top: 13px;
  grid-area: a;
}

.article1 {
  width: 100%;
  height: 40px;
  background-color: #feeab9;
  padding-top: 17px;
  margin-top: 80px;
  grid-area: b;
}

.article2 {
  width: 100%;
  height: 40px;
  background-color: #feeab9;
  padding-top: 17px;
  margin-top: 80px;
  grid-area: c;
}

.article3 {
  width: 100%;
  height: 40px;
  background-color: #feeab9;
  padding-top: 17px;
  margin-top: 100px;
  grid-area: d;
}

.aside {
  width: 100%;
  height: 350px;
  background-color: #ddeccb;
  font-size: larger;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}

.footer {
  width: 100%;
  height: 80px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section {
  width: 200px;
  height: 50px;
  background-color: #fafafa;
}

.sectiontext {
  font-size: larger;
  font-weight: 600;
  text-align: center;
  padding-top: 13px;
}
